* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, black, purple);
    padding: 100px;
    height: auto;
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: darkslateblue;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);

}
.container img{
    padding: auto;
    margin: auto;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    display: block;
            margin-left: auto;
            margin-right: auto;
}

h1{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.class-group {
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    display: block;
    background-color: rgb(0, 139, 74);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}

button:hover {
    background-color: rgba(202, 33, 33, 0.76);
}

/* Estilo para el input de number */
.class-group input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}